@charset "UTF-8";
@font-face {
    font-family: Poppins;
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/Poppins-Bold.woff2) format("woff2")
}

@font-face {
    font-family: Poppins;
    font-display: swap;
    src: url(../fonts/Poppins-Regular.woff2) format("woff2")
}

@font-face {
    font-family: AnnonymousPro;
    font-display: swap;
    src: url(../fonts/Anonymous_Pro.woff2) format("woff2")
}

@font-face {
    font-family: AnnonymousPro;
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/Anonymous_Pro_B.woff2) format("woff2")
}

* {
    box-sizing: border-box;
}

html {
    font-family: AnnonymousPro, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    scroll-behavior: smooth;
}

a {
    color: inherit;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: Poppins, Helvetica, Arial, sans-serif;
}

body {
    margin: 0;
}

.nav-header {
    max-height: none;
    border-bottom: #000 16px solid;
    background-color: #fff;
    height: 110px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9996;
}

@media (max-width:768px) {
    .nav-header {
        height: 70px;
        border-bottom: #000 8px solid;
    }
}

.nav-header-avatar {
    position: absolute;
    top: 7px;
    left: 35px;
    width: 80px;
    height: 80px;
    z-index: 9997;
    pointer-events: none;
}

@media (max-width:768px) {
    .nav-header-avatar {
        height: 50px;
        width: 50px;
        top: 6px;
        left: 32px;
    }
}

.nav-header-name {
    position: absolute;
    right: 35px;
    font-size: 1.5rem;
}

@media (min-width:992px) {
    .nav-header-name:hover {
        background-image: url(../img/gradient-animation.gif);
        background-size: 150%;
        background-position: center;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

@media (max-width:768px) {
    .nav-header-name {
        right: 32px;
        font-size: 1rem;
    }
}

.intro-container {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 820px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media all and (-ms-high-contrast:none),
(-ms-high-contrast:active) {
    .intro-container {
        height: 120vh
    }
}

@media (max-width:891px) and (orientation:landscape) {
    .intro-container {
        height: 200vh
    }
}

@media (max-width:576px) {
    .intro-container {
        height: auto;
        min-height: 667px;
        padding: 100px 0
    }
}

.intro-bg-overlay {
    z-index: 1;
    height: 100%;
    width: 100%;
    opacity: .11;
    position: absolute;
    background-image: url(../img/dot-pattern.png);
}

@media (max-width:576px) {
    .intro-bg-overlay {
        background-size: cover
    }
}

@media (max-width:576px) {
    .intro-bg-overlay {
        background-image: url(../img/dot-pattern-mobile.png);
        opacity: .5;
        mix-blend-mode: overlay;
        background-repeat: repeat
    }
}

.intro-bg-complex {
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.intro-bg-hearts {
    background-image: url(../img/hearts-bg.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    z-index: 0;
    background-color: #a0ff20;
    height: 100%;
    width: 100%;
}


/* @media (max-width:991px) {
    .intro-bg-hearts {
        background-size: 220%;
    }
}

@media (max-width:576px) {
    .intro-bg-hearts {
        background-size: 220%;
    }
} */

.intro-container.in-view .intro-bg-hearts {
    animation: heartbeatPulse 4s ease-in-out alternate;
}

.intro-bg-parts {
    background-position: center;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    z-index: 0;
    background-size: cover;
}

.intro-bg-parts>img {
    pointer-events: none;
}

.intro-bg-left-blob {
    top: 110px;
    left: 0;
    width: 30%;
    max-width: 400px;
    position: absolute;
    transform: translate(-100%, -100%);
}

@media (max-width:768px) {
    .intro-bg-left-blob {
        top: 70px
    }
}

.intro-bg-right-blob {
    bottom: 0;
    right: 0;
    width: 30%;
    max-width: 400px;
    position: absolute;
    transform: translate(100%, 100%);
}

.intro-container.seen .intro-bg-left-blob,
.intro-container.seen .intro-bg-right-blob {
    transition: transform 1.6s ease-out;
    transition-delay: 1.8s;
    transform: translate(0, 0);
}

.intro-bg-heart-phone {
    transform: translate(-50%, -50%) scale(.7);
    top: 55%;
    left: 50%;
    z-index: 1;
    max-width: 714px;
    max-height: 830px;
    height: 90%;
    padding: 60px 0;
    opacity: 0;
    transition: .8s ease-out;
    transition-delay: 0s;
    transform-origin: bottom;
    position: absolute;
}

.intro-container.seen .intro-bg-heart-phone {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition-delay: .4s;
}

.content-block {
    z-index: 3;
    opacity: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.intro-container.seen .content-block {
    animation: fadeIn .4s cubic-bezier(.25, .46, .45, .94) 1.2s forwards;
}

.content-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 480px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width:576px) {
    .content-row {
        width: 100%;
    }
}

.content-caption {
    -ms-flex-item-align: start;
    align-self: flex-start;
    z-index: 1;
    margin: 0 15px;
    opacity: 1;
}

@media (max-width:576px) {
    .content-caption {
        margin: 0 6px;
    }
}

.content-caption>p {
    margin-top: 0;
    display: inline;
    background: #000;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    color: #fff;
    padding: 5px;
    box-shadow: 15px 0 0 0 #000, -15px 0 0 0 #000;
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.25;
}

.content-box {
    background: #fff;
    box-shadow: 10px 10px 1px #000;
    padding: 32px 32px 22px 32px;
    margin: 20px 0 26px 0;
    font-size: 2rem;
    line-height: 1;
    letter-spacing: .56px;
    font-family: Poppins, Helvetica, Arial, sans-serif;
}

.content-box * {
    margin: 0;
}

@media (max-width:768px) {
    .content-box {
        width: 100%
    }
}

@media (max-width:576px) {
    .content-box {
        padding: 16px;
        margin-top: 10px;
        margin-bottom: 18px
    }
}

.content-ref-box {
    padding: 20px;
    margin-bottom: 26px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    background: #fff;
    width: 100%;
    box-shadow: 10px 10px 1px #000;
    transition: .25s ease-in-out;
    font-family: Poppins, Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    line-height: 1.25;
    cursor: pointer;
    font-weight: 700;
}

@media (max-width:576px) {
    .content-ref-box {
        margin-bottom: 18px;
    }
}

.content-ref-box * {
    margin: 0;
}

.ref-arrow {
    width: 36px;
    height: 36px;
    transition: .25s ease-in-out;
    background-image: url(../img/arrow-right.svg);
}

.content-ref-box:hover {
    box-shadow: 8px 8px 1px #ff04ac;
}

.content-ref-box:hover>img {
    filter: invert(23%) sepia(57%) saturate(7008%) hue-rotate(308deg) brightness(98%) contrast(116%);
}

.scroll-prompt {
    position: absolute;
    left: 50%;
    bottom: 75px;
    width: 32px;
    margin: -12px;
    height: 48px;
    border: 4px solid #fff;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, .5);
    z-index: 999;
    opacity: 0;
    transition: opacity 1s;
    transition-delay: 0s;
    transition-delay: .5s;
}

.scroll-prompt::after {
    display: block;
    content: "";
    position: absolute;
    left: 50%;
    top: 10px;
    width: 4px;
    height: 4px;
    margin-left: -2px;
    background-color: #fff;
    border-radius: 2px;
    animation: mouse-wheel-scroll 2.5s cubic-bezier(.77, 0, .175, 1) infinite;
}

.intro-container.in-view .scroll-prompt {
    opacity: 0.8;
}

.about-container {
    color: white;
    background-color: #f70087;
    background-image: url(../img/about-bg-gradient.svg);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 48px;
}

.about-text-block {
    text-align: center;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 78px;
    padding-bottom: 30px;
    z-index: 1;
    position: relative;
}

.about-text-block>blockquote {
    font-family: Poppins, Helvetica, Arial, sans-serif;
    font-size: 1.75rem;
    line-height: 1.28571;
    padding: 0 50px;
    position: relative;
    margin: 0 auto;
    max-width: 550px;
    font-weight: 700;
}

.about-text-block>blockquote::before {
    left: 0;
    content: "";
    background-image: url(../img/open-quote.png);
    color: #9462ee;
    font-size: 4em;
    position: absolute;
    top: -30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.about-text-block>blockquote::after {
    right: 0;
    bottom: -30px;
    content: "";
    background-image: url(../img/close-quote.png);
    color: #9462ee;
    font-size: 4em;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.about-text-block>blockquote::before,
.about-text-block>blockquote::after {
    height: 62px;
    width: 102px;
}

.about-text-block>blockquote::before {
    left: -140px;
}

.about-text-block>blockquote::after {
    right: -100px;
}

@media (max-width:991px) {
    .about-text-block>blockquote::before,
    .about-text-block>blockquote::after {
        height: 30px;
        width: 40px;
    }
    .about-text-block>blockquote::before {
        left: 0;
    }
    .about-text-block>blockquote::after {
        right: 0;
    }
}

.demo-container {
    width: 100%;
    position: relative;
    display: block;
    padding-top: 56.25%;
    background-color: #000;
}

.demo-container::before {
    content: " ";
    display: table;
}

.demo-container::after {
    clear: both;
}

.demo-container>video {
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.projects-container {
    background-color: #00ed71;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.projects-container::before {
    content: "";
    background-size: 120%;
    background-position: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-image: url(../img/projects-bg.svg);
}

.projects-container::after {
    content: "";
    background-size: cover;
    background-image: url(../img/dot-pattern.png);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    opacity: .2;
}

.projects-block {
    width: 1400px;
    margin-right: auto;
    margin-left: auto;
}

@media (max-width:991px) {
    .projects-block {
        width: 750px;
    }
}

.content-big-caption {
    margin-bottom: 48px;
    padding-left: 48px;
    padding-right: 48px;
}

@media (max-width:891px) {
    .content-big-caption {
        margin-bottom: 0;
    }
}

.content-big-caption>h2 {
    padding-top: 48px;
    font-family: Poppins, Helvetica, Arial, sans-serif;
    text-align: left;
    margin: 0 12px;
    font-size: 3.75rem;
    line-height: 1.4;
    z-index: 1;
    position: relative;
}

.content-big-caption>h2>span {
    background: #000;
    color: #fff;
    box-shadow: 15px 0 0 0 #000, -15px 0 0 0 #000;
    font-size: 3rem;
    line-height: 1.125;
}

@media (max-width: 991px) {
    .content-big-caption>h2>span {
        font-size: 2rem;
    }
}

.content-preview-row {
    padding-bottom: 85px;
    z-index: 1;
    position: relative;
    display: block;
    box-sizing: border-box;
    user-select: none;
    touch-action: pan-y;
    padding-left: 48px;
    padding-bottom: 85px;
    z-index: 1;
}

.content-preview-row .list-draggable {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding-bottom: 5px;
    transition: transform .2s ease-out;
    cursor: pointer;
}

@media (max-width:891px) {
    .list-draggable {
        width: 250vw;
    }
}

.content-preview-row .list-track {
    clear: both;
    content: "";
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.list-track .slide {
    display: flex;
    flex-direction: column;
    float: left;
    min-height: 1px;
    text-decoration: none;
    z-index: 3;
    opacity: 0;
    width: 33.33%;
}

.list-track.seen .slide {
    animation: fadeIn .4s cubic-bezier(.25, .46, .45, .94) forwards;
}

@media (max-width:891px) {
    .list-track .slide {
        margin-right: -30px;
    }
}

.content-preview-ref-box {
    padding: 20px;
    margin-bottom: 26px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    background: #fff;
    width: 100%;
    box-shadow: 10px 10px 1px #000;
    transition: .25s ease-in-out;
    font-family: Poppins, Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    line-height: 1.25;
    cursor: pointer;
    width: 85%;
}

@media (max-width:576px) {
    .content-preview-ref-box {
        margin-bottom: 18px;
    }
}

@media (max-width:891px) {
    .content-preview-ref-box {
        box-shadow: 15px 15px 1px #000;
        padding: 24px;
    }
}

.content-preview-ref-box * {
    margin: 0;
}

.content-preview-ref-box .ref-arrow {
    width: 36px;
    height: 36px;
    transition: .25s ease-in-out;
}

.content-preview-ref-box>.ref-arrow,
.content-preview-ref-box:hover {
    box-shadow: 8px 8px 1px #ff04ac;
}

@media (max-width:891px) {
    .content-preview-ref-box:hover {
        box-shadow: 12px 12px 1px #ff04ac;
    }
}

.content-preview-ref-box:hover .ref-arrow {
    filter: invert(23%) sepia(57%) saturate(7008%) hue-rotate(308deg) brightness(98%) contrast(116%);
}

.content-preview-ref-box {
    display: block;
    width: 85%;
    background-position: right bottom;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 20px;
    border-style: none;
    height: 100%;
}

.preview-img {
    width: 100%;
    background-position: right bottom;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 20px;
    pointer-events: none;
}

.ref-arrow-container>img {
    transition: .25s ease-in-out;
}

.preview-ref-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 70px;
    text-overflow: ellipsis;
    text-align: left;
    overflow: hidden;
}

.preview-ref-text {
    width: 74%;
    height: 20%;
    position: relative;
}

.preview-ref-text>h3 {
    font-family: Poppins, Helvetica, Arial, sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1rem;
    line-height: 1.5;
}

.list-buttons {
    display: none;
    background-color: #fff;
    padding: 0;
    list-style: none;
    padding: 10px;
    width: 100px;
    justify-content: space-between;
}

.list-buttons>li {
    width: 20px;
    height: 20px;
    background-color: #000;
    cursor: pointer;
}

.list-buttons>li.active {
    background-color: #00ed71;
}

@media (max-width:891px) {
    .list-buttons {
        display: flex;
    }
}

@media (max-width:891px) {
    .active-item-1 {
        transform: translateX(0);
    }
    .active-item-2 {
        transform: translateX(-30%);
    }
    .active-item-3 {
        transform: translateX(-60%);
    }
}

.skills-bg {
    color: white;
    background-color: #f70087;
    position: relative;
    padding-bottom: 48px;
}

.skills-bg::before,
.skills-bg::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    pointer-events: none;
    background-repeat: no-repeat;
}

.skills-bg::before {
    background-position: top right;
    background-image: url(../img/right-blob-alt.svg);
}

.skills-bg::after {
    background-position: bottom left;
    background-image: url(../img/left-blob-alt.svg);
}

.skills-block {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1170px;
}

.skills-block::before {
    content: " ";
    display: table;
}

.skills-block::after {
    clear: both;
}

@media (max-width:991px) {
    .skills-block {
        width: auto;
    }
}

@media (max-width:768px) {
    .skills-block {
        width: auto;
    }
}

.skills-row {
    margin-left: -15px;
    margin-right: -15px;
}

.skills-row::before {
    content: " ";
    display: table;
}

.skills-row::after {
    clear: both;
}

.skills-content {
    width: 100%;
    position: relative;
    min-height: 1px;
    padding-top: 48px;
    padding-left: 15px;
    padding-right: 15px;
}

.skills-content>h2 {
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
    z-index: 1;
    position: relative;
    text-align: center;
    font-weight: 700;
    font-family: Poppins, Helvetica, Arial, sans-serif;
    font-size: 2.25rem !important;
    line-height: 1.16667 !important;
}

.skills-list {
    margin-bottom: 48px;
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
    position: relative;
}

.skills-list>.skill {
    text-align: center;
    font-family: Poppins, Helvetica, Arial, sans-serif;
    max-width: 28%;
    -ms-flex: 1 1 28%;
    flex: 1 1 28%;
    margin-left: auto;
    margin-right: auto;
    border: 6px solid #e9e9e9;
    transition: border-color .5s ease-in-out;
    color: #070707;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
}

.skills-list>.skill::before {
    content: "";
    background-image: url(../img/blob.svg);
    position: absolute;
    top: -45px;
    left: -40px;
    background-repeat: no-repeat;
    background-size: contain;
    width: 80px;
    height: 60px;
}

.skills-list>.skill:hover {
    border-color: #adec39;
    outline: 0;
}

.skills-list>.skill>img {
    pointer-events: none;
    width: 85%;
}

.skills-list>.skill>h5 {
    border-top: 3px dotted #e9e9e9;
    margin-top: 30px;
    margin-bottom: 0;
    padding: 30px 12px 30px;
    font-size: 1.125rem;
    line-height: 1.33333;
}

@media (max-width:991px) {
    .skills-list {
        flex-direction: column;
    }
    .skills-list>.skill {
        max-width: 100%;
        width: 50%;
        margin-bottom: 48px;
    }
}

.experience-section {
    z-index: 1;
    position: relative;
}

.experience-section:nth-child(1) {
    --main-color: #1e73be;
}

.experience-section:nth-child(2) {
    --main-color: #fce50e;
}

.experience-section:nth-child(3) {
    --main-color: #de164e;
}

.experience-section.last-section {
    --main-color: #f687c0;
}

.experience-content-row {
    color: #fff;
    position: relative;
    padding: 120px 0;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    background-image: linear-gradient(242deg, #000, #2d2d2d);
}

@media (max-width:768px) {
    .experience-content-row {
        padding: 15px 0;
    }
}

.experience-section:nth-child(2n) .experience-content-row {
    background-image: linear-gradient(242deg, #2d2d2d, #000);
}

.experience-content {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    max-width: 1170px;
}

.experience-content::before {
    content: " ";
    display: table;
}

.experience-content::after {
    clear: both;
}

.experience-block {
    margin-left: -15px;
    margin-right: -15px;
}

.experience-block::before {
    content: " ";
    display: table;
}

.experience-block::after {
    clear: both;
}

.experience-block .content-column {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    float: left;
}

.experience-block .image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    max-width: 35%;
    max-height: 90%;
    width: 100%;
    right: 20px;
    display: block;
}

@media (max-width:768px) {
    .experience-block .image {
        display: none;
    }
}

.experience-section:nth-child(2n) .experience-block .image {
    left: 20px;
}

.experience-block .image>img {
    transition: opacity .5s ease-in-out;
    max-width: 100%;
    width: 100%;
    opacity: 1;
    pointer-events: none;
}

.experience-block .text-block {
    width: 55%;
    font-family: Poppins, Helvetica, Arial, sans-serif;
    position: relative;
}

@media (max-width: 991px) {
    .experience-block .text-block {
        width: 65%;
    }
}

@media (max-width: 768px) {
    .experience-block .text-block {
        width: 100%;
    }
}

.experience-section:nth-child(2n) .experience-block .text-block {
    margin-left: auto;
}

.experience-block .text-block>.caption {
    font-family: AnnonymousPro, Helvetica, Arial, sans-serif;
    padding: 5px 10px;
    background-color: #000;
    box-shadow: 3px 3px 0px 0px var(--main-color);
    margin-top: 0;
    display: inline-block;
    font-size: .875rem;
    line-height: 1.71429;
}

.experience-block .text-block>.mobile-image {
    display: none;
    position: static;
    transform: none;
    max-width: none;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    max-height: 90%;
}

@media (max-width: 768px) {
    .experience-block .text-block>.mobile-image {
        display: block;
    }
}

.experience-block .text-block>.mobile-image>img {
    opacity: 1;
    width: 100%;
    transition: opacity .5s ease-in-out;
    max-width: 100%;
}

.experience-block .text-block>h3 {
    margin: 12px 0;
    font-size: 2.625rem;
    line-height: 1.14286;
}

@media (max-width:991px) {
    .experience-block .text-block>h3 {
        font-size: 2rem;
    }
}

.experience-block .text-block>.text {
    font-size: 14px;
    font-size: .875rem;
    line-height: 1.71429;
}

.experience-block .text-block>.highlights {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    margin-top: 40px;
}

.experience-block .text-block>.highlights>div {
    border-color: var(--main-color);
    padding-left: 8px;
    padding-right: 40px;
    margin-bottom: 15px;
    border-left-width: 3px;
    border-left-style: solid;
}

.experience-block .text-block>.highlights>div>h3 {
    font-size: 2.625rem;
    line-height: 1.14286;
    margin: 0;
    font-weight: 700;
}

.experience-block .text-block>.highlights>div>p {
    font-size: .875rem;
    line-height: 1.71429;
    margin: 0;
}

.contacts-container {
    background-color: #000;
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 100;
}

.contacts-bg-noise {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: .5;
    background-image: url(../img/noise-pattern.jpg);
    background-size: 3%;
    background-position: top center;
    background-repeat: repeat;
}

.contacts-bg {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url(../img/contacts-bg.svg);
    background-size: 105%;
    background-repeat: no-repeat;
}

.contacts-block {
    padding-top: 85px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1170px;
}

.contacts-block::before {
    content: " ";
    display: table;
}

.contacts-block::after {
    clear: both;
}

@media (max-width: 991px) {
    .contacts-block {
        width: auto;
    }
}

.contacts-row {
    margin-top: 48px;
    display: flex;
    margin-bottom: 96px;
    width: 100%;
}

@media (max-width:991px) {
    .contacts-row {
        flex-direction: column;
    }
}

.contacts-row::before {
    content: " ";
    display: table;
}

.contacts-row::after {
    clear: both;
}

.contacts-column {
    display: block;
    width: 50%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
}

.contacts-column:first-child {
    padding-right: 100px;
    border-right: 1px dashed #e9e9e9;
}

.contacts-column:last-child {
    padding-left: 100px;
}

@media (max-width:991px) {
    .contacts-column {
        width: 100%;
        margin-left: auto;
        margin-bottom: auto;
    }
    .contacts-column:first-child {
        padding-right: 0;
        padding-left: 0;
        border-right: none;
    }
    .contacts-column:last-child {
        padding-left: 0;
    }
}

.contacts-column>h1 {
    margin: 0;
    font-family: Poppins, Helvetica, Arial, sans-serif;
    font-size: 3.75rem;
    line-height: 1;
    margin-bottom: 48px;
}

.contacts-column>h1:not(:first-child) {
    margin-top: 96px;
}

.contacts-column>p {
    font-size: 1.625rem;
    line-height: 1.27;
    letter-spacing: .33px;
    font-weight: 700;
}

.contacts-column>img {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;
    margin-bottom: 48px;
    display: block;
}

.contact-bar {
    background-color: rgba(255, 255, 255, .08);
    border-bottom: 2px solid #000;
    position: relative;
    padding: 18px 20px 18px 65px;
    margin-bottom: 12px;
}

.contact-bar>img {
    pointer-events: none;
    position: absolute;
    left: 15px;
    top: 10px;
    width: 38px;
    transition: opacity .5s ease-in-out;
    max-width: 100%;
}

.contact-bar>a:hover {
    text-decoration: underline;
}

.social-button {
    display: inline-block;
    width: 82px;
    height: 82px;
    background-color: rgba(255, 255, 255, .08);
    padding: 18px;
    margin-right: 12px;
}

.social-button img {
    cursor: pointer;
    transition: transform .3s ease-in-out;
}

.social-button img:hover {
    transform: translateY(-4px);
}

.contact-button {
    position: -webkit-sticky;
    position: sticky;
    bottom: 160px;
    right: 52px;
    float: right;
    z-index: 7;
    height: 0;
    margin-right: 8px;
    transition: transform .3s ease-in;
}

@media (max-width:991px) {
    .contact-button {
        right: 0px;
        bottom: 88px;
        max-width: 200px;
    }
}

.contact-button>a {
    cursor: pointer;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    color: #fff;
    background-color: #000;
    padding: 22px 16px;
    transition: .25s ease-in-out;
    text-decoration: none;
}

.contact-button:hover>a {
    color: #000;
    background: #ff04ac;
}

.contact-button>a::after {
    content: '';
    background-image: linear-gradient(250deg, #a0ff20 20%, #00ed71);
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -8px;
    right: -8px;
    z-index: -1;
}

.contact-button:hover>a::after {
    mix-blend-mode: hard-light;
}

.contact-button p {
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 14px;
    font-size: 28px;
    font-size: 1.75rem;
    line-height: 1.28571;
    font-family: Poppins, Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.contact-button img {
    pointer-events: none;
    transition: .25s ease-in-out;
    height: 30px;
    width: 30px;
}

.contact-button:hover img {
    filter: brightness(0);
}